[defaults]
roles_path            = roles
retry_files_enabled   = False
hash_behaviour        = merge
result_format         = yaml
display_skipped_hosts = True
host_key_checking     = False
bin_ansible_callbacks = True
