body {
  background: #000000;
  color: white;
}

table.table-max-width {
  width: 100%;
}

.h-85 {
  height: 85% !important;
}
.h-80 {
  height: 80% !important;
}

button#settingsbtn {
  border-color: transparent !important;
  box-shadow: none;
  width: 60px;
  height: 60px;
  z-index: 256;
}

div#settingspanel {
  with: 300px;
  z-index: 255;
}

.gauge {
  --size: 150px;
  --cutout: 50%;
  --color: red;
  --background: black;
  --text-color: white;
  width:var(--size);
  height:var(--size);
  border-radius:calc(var(--size) / 2);
  background:
    radial-gradient(var(--background) 0 var(--cutout), transparent var(--cutout) 100%),
    conic-gradient(from -135deg,
    var(--color) calc(270deg*var(--value)),
    grey calc(270deg*var(--value)) 270deg,
    transparent 270deg);
  text-align: center;
  line-height: var(--size);
}
