<div class="row g-0" style="height: 70%;">
  <div class="col-3">
    <div class="row g-0">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="gauge" style="--value:0; --color:#6666FF ; font-size:1rem; --size: 90px">-80db</div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        Reverb
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row g-0">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="gauge" style="--value:0; --color:#CC6600 ; font-size:1rem; --size: 90px">-80db</div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        Delay
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row g-0">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="gauge" style="--value:0; --color:#663399 ; font-size:1rem; --size: 90px">-80db</div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        Chorus
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row g-0">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="gauge" style="--value:0; --color:#669966 ; font-size:1rem; --size: 90px">-80db</div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        Room
      </div>
    </div>
  </div>
</div>
<div class="row g-0" style="height: 30%">
  <div class"col">
    Input <%= input %>
  </div>
</div>
