<button class="btn btn-primary position-fixed bottom-0 end-0 m-4 rounded-circle shadow-lg bg-transparent" id="settingsbtn"><i class="fas fa-cog"></i></button>
<div class="position-fixed bottom-0 end-0 m-4 me-5 collapse" id="settingspanel">
  <div class="card shadow-lg text-bg-dark">
    <div class="card-header d-flex justify-content-between">
      <h6>Settings</h6>
      <button class="btn-close" data-bs-toggle="collapse" data-bs-target="#settingspanel" data-bs-theme="dark" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
      </ul>
    </div>
  </div>
</div>
