<!doctype html>
<html lang="en">
  <%- include("partials/header.ejs", {subtitle: "Index"}) %>
  <body>
    <%- include("partials/scripts.ejs") %>
    <script src="js/index.js"></script>
  </body>
</html>
